<section id="contact" class="contact">
    <div class="container">
        
        <div style="margin: 5% 0;" class="row" data-aos="fade-in">
            <div class="col-lg-7 d-flex align-items-stretch">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26871.669150212052!2d51.70084664253058!3d32.66054466075628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fbc4b006d03d0d1%3A0x64971fd9b9652ab!2z2KjYp9i02q_Yp9mHINmI2LHYsti024wg2YXYp9ix2KfZhduM2LM!5e0!3m2!1sen!2s!4v1717270146998!5m2!1sen!2s"
                    frameborder="0" style="border:0; width: 100%; height: 330px;" allowfullscreen></iframe>
            </div>

            <div style="text-align: center;" class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>آدرس:</h4>
                        <p>اصفهان ; خیابان جی ; باشگاه ورزشی مارامیس</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>ایمیل:</h4>
                        <a style="color: #173b6c; font-size: 14px;"
                            href="mailto:morteza.khosravi@gmail.com">morteza.khosravi@gmail.com</a>
                    </div>

                    <div style="margin-top: 28px;" class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>تماس:</h4>
                        <p>989137640172</p>
                    </div>

                </div>

            </div>


        </div>
        <div  style="margin: 0 0 10% 0"></div>

    </div>

    </div>
</section>