<section class="home" style="margin-top: 5%;">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-controls">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" style="background-image: url(static/images/home-slider/slide-1.jpg);"></li>
                <li data-target="#carousel" data-slide-to="1" style="background-image: url(static/images/home-slider/slide-2.jpg);"></li>
                <li data-target="#carousel" data-slide-to="2" style="background-image: url(static/images/home-slider/slide-3.jpg);"></li>
                <li data-target="#carousel" data-slide-to="2" style="background-image: url(static/images/home-slider/slide-4.jpg);"></li>
                <li data-target="#carousel" data-slide-to="2" style="background-image: url(static/images/home-slider/slide-5.jpg);"></li>
            </ol>
            <a class="carousel-control-prev" role="button" data-slide="prev" href="#carousel"><img src="static/images/home-slider/left-arrow.svg" alt="Previous"></a>
            <a class="carousel-control-next" role="button" data-slide="next" href="#carousel"><img src="static/images/home-slider/right-arrow.svg" alt="Next"></a>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(static/images/home-slider/slide-1.jpg);"></div>
            <div class="carousel-item" style="background-image: url(static/images/home-slider/slide-2.jpg);"></div>
            <div class="carousel-item" style="background-image: url(static/images/home-slider/slide-3.jpg);"></div>
            <div class="carousel-item" style="background-image: url(static/images/home-slider/slide-4.jpg);"></div>
            <div class="carousel-item" style="background-image: url(static/images/home-slider/slide-5.jpg);"></div>
        </div>
    </div>
</section>