<main>
    <!--=============== HOME ===============-->
    <section class="container section section__height" id="home">
        <h2 class="section__title">خانه</h2>
    </section>

    {% include 'include/body-item/body-home.html' %}

    <!--=============== ABOUT ===============-->
    <section class="container section section__other__height" id="about">
        <h2 class="section__title">درباره ما</h2>
    </section>

    <!--=============== FIELD ===============-->
    <section class="container section section__other__height" id="skills">
        <h2 class="section__title">رشته های ورزشی</h2>
    </section>

    <!--=============== WIN ===============-->
    <section class="container section section__other__height" id="portfolio">
        <h2 class="section__title">جوایز و افتخارات</h2>
    </section>

    <!--=============== CONTACTME ===============-->
    <section class="container section section__height" id="contactme">
        <h2 class="section__title">ارتباط با ما</h2>
    </section>

    {% include 'include/body-item/body-contact-us.html' %}
</main>