<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">MARAMIS</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">خانه</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">درباره ما</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <i class='bx bx-body nav__icon'></i>
                        <span class="nav__name">رشته های ورزشی</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#portfolio" class="nav__link">
                        <i class='bx bx-trophy nav__icon'></i>
                        <span class="nav__name">جوایز و افتخارات</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contactme" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">ارتباط با ما</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>